extends layout

block content
    div(ng-controller="InstantController")
        div(class="container-fluid")
            div(class="move ui-widget-content")
            div
                canvas(id="canvas" width="482" height="482")
                    This text is displayed if your browser does not support HTML5 Canvas.
